@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:global body {
	@apply transition-colors duration-theme;

	background-color: var(--color-bg);
	height: 100%;
}

// Variables
:global:root {
	--duration-theme: 150ms;
	font-family: 'Roboto', sans-serif;
}
