:root {
	// Default/fallback theme
	--color-bg: #ffffff;
	--color-on-bg: #24292f;
	--color-header: #24292f;
	--color-on-header: #ffffff;
	--color-card: var(--color-bg);
	--color-on-card: var(--color-on-bg);
	--color-border-card: #e0dddd;
	--color-border: #373e47;
	--color-theme-toggle: #f5d67b;
}

:global[data-theme='dark'] {
	--color-bg: #22272e;
	--color-on-bg: #f3f3f3;
	--color-header: #2d333b;
	--color-on-header: #e9e9e9;
	--color-card: #2b3138;
	--color-on-card: #bebebe;
	--color-border-card: #383e49;
	--color-border: #373e47;
	--color-theme-toggle: #9ed5ef;
}
